---
layout: default
---
<header>
  <div class="header-small">
    <a href="{{site.url}}{{site.baseurl}}">{{ site.name }}</a>
  </div>
</header>
<div class="post">
  <div class="post-title">{{ page.title }}</div>
  <span class="post-date">
    <time>{{ page.date | date_to_string }}</time>
  </span>
  <div class="post-tag">
    <ul>
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          <span>{{ tag }}</span>
        </a>
      </li>
      {% unless forloop.last %}{% endunless %}
      {% endfor %}
    </ul>
  </div>

  {{ content }}

  <!-- 在正文开头添加网易云音乐插件 -->
  {% if page.music-id %}
    {% include music.html %}
  {% endif %} 
  {{ content }}

  
 <!--//添加评论系统-->
 <link rel="stylesheet" href="../../../../css/gitalk.css">
 <script src="../../../../js/gitalk.min.js"></script>
<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script>
var gitalk = new Gitalk({
    id: '{{ page.date }}',
    clientID: '{{ site.gitalk.clientID }}',
    clientSecret: '{{ site.gitalk.clientSecret }}',
    repo: '{{ site.gitalk.repo }}',
    owner: '{{ site.gitalk.owner }}',
    admin: ['{{ site.gitalk.owner }}'], 
	labels: ['Gitalk'],
})
gitalk.render('gitalk-container')
</script> 

</div>
